$bg: #fffdd0;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: $bg;
}

.centered {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-avatar-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#start-play-button {
  display: none;
}

.primary-btn {
  background-color: #28a745;
}
